*{
    margin: 0;
    background-color: orange;
}

nav{
    height: 80px;
    width: 100%;
    background: white;
    box-shadow: 8px 8px;
    border-bottom: 2px solid;
    border-color: black;
    margin-bottom: 20px;
    position: fixed;
    text-align: center;
}